<html>
<head>
  <title>Job Completed - Congratulations!</title>
</head>
<body style='font-family: Arial, sans-serif; color: #333;'>
  <div style='max-width: 600px; margin: auto; border: 1px solid #eaeaea; padding: 20px;'>
    <!-- Header with Larger Logo -->
    <div style='text-align: center; margin-bottom: 20px;'>
      <img src='https://task-trek.s3.ap-southeast-1.amazonaws.com/QuickQuest.png' alt='QuickQuest Logo' style='max-width: 300px; margin-bottom: 10px;' />
      <h2 style='color: #4FB8B3;'>Job Completed - Congratulations!</h2>
    </div>
    <!-- Greeting -->
    <p>Dear {{workerName}},</p>
    <p>We're thrilled to announce that you have successfully completed the following job:</p>
    <p>We're thrilled to announce that you have successfully completed the following job:</p>
    <!-- Job ID and Details -->
    <div style='background-color: #f9f9f9; padding: 15px; margin-bottom: 20px;'>
      <h3 style='color: #4FB8B3;'>Completed Job Details</h3>
      <p><strong>Job ID:</strong> {{orderID}}</p>
      <p><strong>Service:</strong> {{serviceName}}</p>
      <p><strong>Description:</strong> {{description}}</p>
      <p><strong>Total Price:</strong> ${{price}}</p>
      <p><strong>Your Payment:</strong> ${{workerPayment}}</p>
      <p><strong>Date Ordered:</strong> {{orderedDate}}</p>
      <p><strong>Customer:</strong> {{customerName}}</p>
    </div>

    <p>Your payment is on the way to your PayPal account!</p>
    <!-- Congratulations -->
    <div style='background-color: #e8f5e9; padding: 15px; margin-bottom: 20px;'>
      <h3 style='color: #4caf50;'>Congratulations on a job well done!</h3>
      <p>Your hard work and dedication have paid off, and we are grateful for your contribution to the QuickQuest community.</p>
    </div>
    <!-- Ratings and Reviews -->
    <div style='margin-bottom: 20px;'>
      <p>Please keep up the excellent work, and remember that your ratings and reviews from customers play a crucial role in your success on our platform.</p>
    </div>
    <!-- Contact Customer Support -->
    <div style='text-align: center; margin-bottom: 20px;'>
      <p>If you have any questions or concerns, please feel free to contact our customer support team.</p>
      <a href='mailto:support@quickquest.com' style='display: inline-block; background-color: #4FB8B3; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 4px;'>Contact Customer Support</a>
    </div>
    <!-- Footer -->
    <footer style='text-align: center; margin-top: 20px; padding-top: 20px; border-top: 1px solid #eaeaea;'>
      <p>Thank you for your hard work and dedication. We look forward to your continued success on QuickQuest!</p>
    </footer>
  </div>
</body>
</html>